/* Default Elements */

html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #212121;
  color: white;
}

button{
  height: 60px;
  width: 180px;
  background-color: #D81B60;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

h1{
  font-size: 45px;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h2{
  font-size: 28px;
}

p{
  font-size: 25px;
}

::-moz-selection{
  background-color: rgba(255, 255, 255, 0.1);
}

::selection{
  background-color: rgba(255, 255, 255, 0.1);
}

/* Fullscreen-Containers */

/* Shared Container all Screens have */
.fullscreen-container{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing {
  background-color: #161616;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.click-catcher{
  z-index: 2;
  position: absolute;
  height: 100vh;
  min-width: 100%;
}

.info{
  background-color: #212121;
  border-top: 5px dashed #D81B60;
}

.module.base{
  border-top: 5px dotted #D81B60;
  background-color: #161616;
}

.module.base > div div:not(.screenshot-box):not(.screenshot-box *){
  z-index: 3;
}

#settings{
  position: relative;
  
}

#preview{
  position: fixed;
  left: 100vw;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.info .content-container{
  opacity: 0;
}

/* Reused Components */

.tools{
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
}

.module > div{
  width: 50%;
}

.headerText{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.bodyText{
  margin-top: 5%;
  text-align: center;
}

.content-container .logoContainer svg{
  width: 190px;
  margin-left: 10px;
  margin-top: 6px;
  margin-right: 5px;
}

.moduleToggle{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 5%;
  text-align: left;
  z-index: 6!important;
}

.moduleToggle *{
  z-index: 6!important;
}

label.checkbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.checkbox input[type="checkbox"] {display:none;}
label.checkbox div {
  display: inline-block;
  border: 1px solid #72767d;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  position: relative;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

label.checkbox div svg{
  display: none;
  position: absolute;
  top: 5px;
  left: 6px!important;
}

label.checkbox span{
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

label.checkbox :checked + div{
  background-color: #72767d;
}

label.checkbox :checked + div svg {
  display: block;
}

.bubble-select{
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4% auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*noinspection CssInvalidPropertyValue*/
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2%;
  z-index: 5!important;
}

.bubble{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 0 8px;
  background-size: 80px 80px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 200ms;
  transition: -webkit-filter 200ms;
  transition: filter 200ms, -webkit-filter 200ms;
  z-index: 5!important;
}

.bubble:hover, .bubble.selected{
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: -webkit-filter 200ms;
  transition: -webkit-filter 200ms;
  transition: filter 200ms, -webkit-filter 200ms;
}

.bubble-content{
  background-color: #121212;
  display: none;
  opacity: 0;
  width: 600%;
  height: 200px;
  position: relative;
  top: 120px;
  -webkit-transform: translateX(-50%) translateY(-15%);
          transform: translateX(-50%) translateY(-15%);
  left: 50%;
  padding: 20%;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: auto;
  border-radius: 15px;
}

.bubble-content h2{
  font-size: 23px;
  margin-bottom: 5%;
  font-weight: 700;
}

.bubble-text{
    font-size: 40px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}

.bubble-content.visible{
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: animateBubbleContent 400ms;
          animation: animateBubbleContent 400ms;
  z-index: 99!important;
}

.fullscreen-container{
  text-align: center;
}

.alignLeft{
  text-align: left;
}

/* .landing::after{
  width: 100%;
  height: 50vh;
  background: linear-gradient(#161616, rgb(165, 165, 165));
  display: block;
  content: '';
  position: absolute;
  bottom: -50vh;
} */

.landing .logo h1 {
  text-align: center;
  font-size: 80px;
}

.landing .logo svg{
  max-width: 750px;
}

.scrollPage{
  font-family: 'Source Sans Pro', sans-serif!important;
  font-size: 70px;
  position: relative;
  margin-top: 5%;
  width: 100%;
  bottom: 30px;
  cursor: pointer;
      align-self: flex-end;
  -webkit-animation: scrollPageBounce 3s infinite;
          animation: scrollPageBounce 3s infinite;
}

.scrollPage:hover{
  -webkit-transition: -webkit-transform 200ms!important;
  transition: -webkit-transform 200ms!important;
  transition: transform 200ms, -webkit-transform 200ms!important;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.landing .scrollPage{
  top: 300px;
}

.module .content-container p{
  font-size: 20px;
}

.screenshot-container{
    width: 100%;
    height: fit-content;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    margin-top: 4%;
    z-index: 3!important;
    overflow-y: hidden;
}

.screenshot-container-scroller{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screenshot-container-scroller.overflow{
    justify-content: unset;
}

.screenshot{
    position: relative;
}

.screenshot .overlay{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    width: 95%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.screenshot:hover .overlay{
    animation: overlayScreenshot 200ms forwards;
}

@keyframes overlayScreenshot {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }100%{
         opacity: 1;
         transform: scale(1);
     }
}

.screenshot .overlay .text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.screenshot .image{
    width: 20vw;
    margin: 0 10px;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
    transition: transform 200ms;
}



/* Animations */
@-webkit-keyframes scrollPageBounce{
  0%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }50%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes scrollPageBounce{
  0%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }50%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes animateBubbleContent{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-15%);
            transform: translateX(-50%) translateY(-15%);
  }100%{
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}
@keyframes animateBubbleContent{
  0%{
    display: none;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-15%);
            transform: translateX(-50%) translateY(-15%);
  }100%{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

.footer{
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  height: 20vh;
  width: 100%;
  z-index: -3;
}